body{
    background-color: cyan;
    width: 400px;
    margin: 40px solid;
    color: magenta;
}

h1{
    font-size: 32px;
}

form {
    display: flexbox;
    gap: 10px;
}

input{
    padding: 10px;
    flex: 1;
}

button{
    padding: 10px 20px;
    color: purple;
    background-color: greenyellow;
    border-radius: 35px;
}

li{
    margin: 10px 0;
}